<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sextante</title>
</head>
<body>
    <header>
        <a href="home.html">
            <img src="../../public/img/seta-esquerda 1.png" alt="Voltar">
        </a>
        <h1>Você gostaria de ser um autor da nossa</h1>
    </header>
    <a href="cadastro_autor.html">
        <p>Quero ser um novo autor</p>
    </a>
    <a href="#">
        <p>Já escrevo para a editora</p>
    </a>
</body>
</html>