<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sextante</title>
</head>
<body>
    <header>
        <a href="home.html">
            <img src="../../public/img/seta-esquerda 1.png" alt="Voltar">
        </a>
        <h1>Bem vindo amigo Escritor</h1>
        <h3>Esses são os seus colegas:</h3>
    </header>
    <div class="content">
        <div class="autor">
            <img src="../../public/img/autores/ana.png" alt="Ana">
        </div>
        <div class="autor">
            <img src="../../public/img/autores/augustoCury.png" alt="Augusto Cury">
        </div>
        <div class="autor">
            <img src="../../public/img/autores/brausio.png" alt="Brausio">
        </div>
        <div class="autor">
            <img src="../../public/img/autores/brene.png" alt="Brene">
        </div>
        <div class="autor">
            <img src="../../public/img/autores/gustavo.png" alt="Gustavo">
        </div>
        <div class="autor">
            <img src="../../public/img/autores/marie.png" alt="Marie">
        </div>
        <div class="autor">
            <img src="../../public/img/autores/michelle.png" alt="Michelle">
        </div>
        <div class="autor">
            <img src="../../public/img/autores/naty.png" alt="Naty">
        </div>
        <div class="autor">
            <img src="../../public/img/autores/pedro.png" alt="Pedro">
        </div>
    </div>
</body>
</html>