<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sextante</title>
</head>
<body>
    <header>
        <a href="home.html">
            <img src="../../public/img/seta-esquerda 1.png" alt="Voltar">
        </a>
        <h3>Que bom que você está interessado em ler nossos livros, mas antes precisamos saber um pouco mais sobre você</h3>
    </header>
    <body>
        <form action="#">
            <div>
                <h4>Sobre o Leitor:</h4>
                <div>
                    <label for="nome">Nome Completo:</label>
                    <input type="text" id="nome" />
                </div>
                <div>
                    <label for="dataNasc">Data de Nascimento:</label>
                    <input type="text" id="dataNasc" />
                </div>
                <div>
                    <label for="nascionalidade">Nascionalidade:</label>
                    <input type="text" id="nascionalidade" />
                </div>
            </div>
            <div>
                <h4>Suas Preferências:</h4> 
                <div>
                    <label for="livro-favorito">Livro Favorito:</label>
                    <input type="text" id="livro-favorito" />
                </div>
                <div>
                    <label for="genero">Gêneros Preferidos:</label>
                    <div class="genero">
                        <input type="checkbox" name="genero" value="Auto_Ajuda">
                        <p>Auto Ajuda</p>
                    </div>
                    <div class="genero">
                        <input type="checkbox" name="genero" value="ficcao">
                        <p>Ficção</p>
                    </div>
                    <div class="genero">
                        <input type="checkbox" name="genero" value="Infantil">
                        <p>Infantil</p>
                    </div>
                    <div class="genero">
                        <input type="checkbox" name="genero" value="Biografia">
                        <p>Biografia</p>
                    </div>
                    <div class="genero">
                        <input type="checkbox" name="genero" value="Saude">
                        <p>Saúde</p>
                    </div>
                    <div class="genero">
                        <input type="checkbox" name="genero" value="Romance">
                        <p>Romance</p>
                    </div>
                    <div class="genero">
                        <input type="checkbox" name="genero" value="Ciencias">
                        <p>Ciências</p>
                    </div>
                    <div class="genero">
                        <input type="checkbox" name="genero" value="Politica">
                        <p>Política</p>
                    </div>
                </div>
            </div>
            <button>Salvar dos Dados</button>
        </form>
    </body>
</body>
</html>