<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sextante</title>
</head>
<body>
    <header>
        <a href="home.html">
            <img src="../../public/img/seta-esquerda 1.png" alt="Voltar">
        </a>
        <h3>Que bom que você quer fazer parte da equipe, preencha os dados para conhecermos mais sobre você</h3>
    </header>
    <body>
        <form action="#">
            <div>
                <h4>Sobre o Autor:</h4>
                <div>
                    <label for="nome">Nome Completo:</label>
                    <input type="text" id="nome" />
                </div>
                <div>
                    <label for="dataNasc">Data de Nascimento:</label>
                    <input type="text" id="dataNasc" />
                </div>
                <div>
                    <label for="nascionalidade">Nascionalidade:</label>
                    <input type="text" id="nascionalidade" />
                </div>
            </div>
            <div>
                <h4>Sobre o Trabalho:</h4>
                <div>
                    <label for="genero">Gênero das Obras:</label>
                    <input type="text" id="genero" />
                </div>
                <div>
                    <label for="carreira">Anos de carreira:</label>
                    <input type="text" id="carreira" />
                </div>
            </div>
            <button>Salvar dos Dados</button>
        </form>
    </body>
</body>
</html>