<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sextante</title>
    <link rel="stylesheet" href="../../public/style/main.css">
</head>
<body>
    <div class="autor">
        <h1>Bom vindo a Estante Virtual da Sextante</h1>
        <div class="botao" id="botao-autor">
            <a href="autor.html">
                <img src="../../public/img/roteiro 1.png" alt="autor">
                <p>Eu sou Autor</p>
            </a>
        </div>
    </div>
    <div class="leitor">
        <div class="logo">
            <img id='sextante' src="../../public/img/logo sextante 1.png" alt="Sextante">
        </div>
        <div class="botao" id="botao-leitor">
            <a href="leitor.html">
                <img src="../../public/img/estude 1.png" alt="leitor">
                <p>Eu sou Leitor</p>
            </a>
        </div>
    </div>
</body>
</html>    
    
    
