<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sextante</title>
</head>
<body>
    <header>
        <a href="home.html">
            <img src="../../public/img/seta-esquerda 1.png" alt="Voltar">
        </a>
        <h1>Bem vindo amigo Leitor</h1>
        <h3>Escolha o genero que mais te agrada</h3>
    </header>
    <a href="#">
        <p>Romance</p>
    </a>
    <a href="#">
        <p>Suspense</p>
    </a>
    <a href="#">
        <p>Infantil</p>
    </a>
    <a href="#">
        <p>Biografia</p>
    </a>
</body>
</html>