<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sextante</title>
</head>
<body>
    <header>
        <a href="home.html">
            <img src="../../public/img/seta-esquerda 1.png" alt="Voltar">
        </a>
        <h1>Bem vindo amigo Leitor</h1>
        <h3>Esses são os livros em catalogo:</h3>
    </header>
    <div class="content">
        <div class="generos">
            <a class='generos-livros' href="#">
                <p>Auto Ajuda</p>
            </a>
            <div class="livros">
                <div class="livro">
                    <img src="../../public/img/livros/Auto ajuda/a arte da imperfeicao .png" alt="A arte da imperfeição">
                </div>
                <div class="livro">
                    <img src="../../public/img/livros/Auto ajuda/corajem de ser feliz.png" alt="Coragem de ser feliz">
                </div>
                <div class="livro">
                    <img src="../../public/img/livros/Auto ajuda/Curso de Meditação.png" alt="Curso de Meditação">
                </div>
                <div class="livro">
                    <img src="../../public/img/livros/Auto ajuda/Em busca do tempo perdido.png" alt="Em busca do tempo perdido">
                </div>
                <div class="livro">
                    <img src="../../public/img/livros/Auto ajuda/O mestre das mentes.png" alt="O mestre das mentes">
                </div>
                <div class="livro">
                    <img src="../../public/img/livros/Auto ajuda/O poder da paciencia.png" alt="O poder da paciencia">
                </div>
            </div>
        </div>
        <div class="generos">
            <a class='generos-livros' href="#">
                <p>Ficção</p>
            </a>
            <div class="livro">
                <img src="../../public/img/livros/ficção/em-busca-de-francisco.png" alt="Em busca de Francisco">
            </div>
            <div class="livro">
                <img src="../../public/img/livros/ficção/ESCREVI-ISSO-PRA-VOCE.png" alt="Escrevi isso pra você">
            </div>
            <div class="livro">
                <img src="../../public/img/livros/ficção/mil-dias-em-veneza.png" alt="Mil dias em veneza">
            </div>
            <div class="livro">
                <img src="../../public/img/livros/ficção/PRISIONEIRO-1.png" alt="Prisioneiro - 1">
            </div>
            <div class="livro">
                <img src="../../public/img/livros/ficção/SENHORA-DOS-ARES.png" alt="Senhora dos Ares">
            </div>
        </div>
        <div class="generos">
            <a class='generos-livros' href="#">
                <p>Infantil</p>
            </a>
            <div class="livro">
                <img src="../../public/img/livros/infantil/CAPAGRETA.png" alt="Capagreta">
            </div>
            <div class="livro">
                <img src="../../public/img/livros/infantil/corpo-1.png" alt="Corpo - 1">
            </div>
            <div class="livro">
                <img src="../../public/img/livros/infantil/DUVIDA-CRUEL.png" alt="Duvida Cruel">
            </div>
            <div class="livro">
                <img src="../../public/img/livros/infantil/EMOCIONARIO.png" alt="Emocionario">
            </div>
            <div class="livro">
                <img src="../../public/img/livros/infantil/livro-destaque.png" alt="Livro Destaque">
            </div>
            <div class="livro">
                <img src="../../public/img/livros/infantil/Tina.png" alt="Tina">
            </div>
        </div>
        <div class="generos">
            <a class='generos-livros' href="#">
                <p>Biografia</p>
            </a>
            <div class="livro">
                <img src="../../public/img/livros/Biografia/a-ultima-grande-licao-20anos.png" alt="A última grande licao 20 anos">
            </div>
            <div class="livro">
                <img src="../../public/img/livros/Biografia/bailarina.png" alt="Bailarina">
            </div>
            <div class="livro">
                <img src="../../public/img/livros/Biografia/caminhodemarte.png" alt="Caminho de Marte">
            </div>
            <div class="livro">
                <img src="../../public/img/livros/Biografia/chico-1.png" alt="Chico - 1">
            </div>
            <div class="livro">
                <img src="../../public/img/livros/Biografia/joao-a-z-capasite.png" alt="João a-z capasite">
            </div>
            <div class="livro">
                <img src="../../public/img/livros/Biografia/VIRTUDE-DA-RAIVA.png" alt="Virtude da Raiva">
            </div>
        </div>
    </div>
</body>
</html>